extends _layouts/layout

block var
	- bodyClass = "dashboard"
	
block header
	include _layouts/header

block sidebar
	include _components/aside-bar.pug

block breadcrumb
	section.pc-container
		.pcoded-content
			include _components/breadcrumb.pug

			.row
				.col-12
					h2 Dashboard