extends _layouts/layout

block var
	- bodyClass = "authenticate authenticate-signin"

block main
	.auth-wrapper
		.auth-content
			.card
				.row.align-items-center
					.col-md-12
						form.card-body.js-form(action="/auth/signup" method="POST")
							.form-group.text-center.mb-4
								img.img-fluid(src='/public/images/logo-dark.svg' alt='')
							.form-group.text-center.mb-3
								h4.f-w-400= page_title
							.form-group.mb-3
								.input-group
									.input-group-prepend
										.input-group-text
											span.fal.fa-envelope
									input.form-control(type='email' placeholder='Email address' name="email" error-label="#email-error" required regex="^([a-zA-Z0-9_.-]+)@([a-zA-Z0-9_.-]+)\\.([a-zA-Z]{2,5})" check="/auth/field-check" autocomplete="false")
								span.form-note.text-left#email-error
							.form-group.mb-4
								.input-group
									.input-group-prepend
										.input-group-text
											span.fal.fa-lock
									input.form-control(type='password' placeholder='Password' name="password" error-label="#password-error" required regex="[a-zA-Z0-9|@|_|/\-]{6,}" autocomplete="false")
								span.form-note.text-left#password-error
							button.js-form-submit.btn.btn-primary.btn-block.mb-4 Sign up
							p.mb-2
								| Already have an account? 
								a.f-w-400(href='/auth/signin') Signin

