
<!-- [ breadcrumb ] start -->
.page-header
	.page-block
		.row.align-items-center
			.col-md-12
				.page-header-title
					h5.m-b-10 Bootstrap Basic Tables
				ul.breadcrumb
					li.breadcrumb-item
						a(href='index.html') Home
					li.breadcrumb-item
						a(href='#!') Bootstrap Table
					li.breadcrumb-item Basic Tables
<!-- [ breadcrumb ] end -->