.pct-customizer
    .pct-c-btn
        span#pct-toggler.btn.btn-light-danger
            svg.feather.feather-settings(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                circle(cx='12' cy='12' r='3')
                path(d='M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z')
    .pct-c-content
        .pct-header.bg-primary
            h5.mb-0.text-white.f-w-500 Nextro Customizer
        .pct-body
            h6.mt-2
                svg.feather.feather-credit-card.mr-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    rect(x='1' y='4' width='22' height='16' rx='2' ry='2')
                    line(x1='1' y1='10' x2='23' y2='10')
                | Header settings
            hr.my-2
            .theme-color.header-color
                a(data-value='bg-default')
                    span
                    span
                a(data-value='bg-primary')
                    span
                    span
                a(data-value='bg-danger')
                    span
                    span
                a(data-value='bg-warning')
                    span
                    span
                a(data-value='bg-info')
                    span
                    span
                a(data-value='bg-success')
                    span
                    span
                a(data-value='bg-dark')
                    span
                    span
            h6.mt-4
                svg.feather.feather-layout.mr-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    rect(x='3' y='3' width='18' height='18' rx='2' ry='2')
                        line(x1='3' y1='9' x2='21' y2='9')
                        line(x1='9' y1='21' x2='9' y2='9')
                | Sidebar settings
            hr.my-2
            .custom-control.custom-switch
                input#cust-sidebar.custom-control-input(type='checkbox')
                label.custom-control-label.f-w-600.pl-1(for='cust-sidebar') Light Sidebar
            .custom-control.custom-switch.mt-2
                input#cust-sidebrand.custom-control-input(type='checkbox')
                label.custom-control-label.f-w-600.pl-1(for='cust-sidebrand') Color Brand
            .theme-color.brand-color.d-none
                a.active(data-value='bg-primary')
                    span
                    span
                a(data-value='bg-danger')
                    span
                    span
                a(data-value='bg-warning')
                    span
                    span
                a(data-value='bg-info')
                    span
                    span
                a(data-value='bg-success')
                    span
                    span
                a(data-value='bg-dark')
                    span
                    span