// [ Header ] start
header.pc-header(class=theme.header_class)
	.header-wrapper
		.ml-auto
			ul.list-unstyled
				li.dropdown.pc-h-item
					a.pc-head-link.dropdown-toggle.arrow-none.mr-0(data-toggle='dropdown' href='#' role='button' aria-haspopup='false' aria-expanded='false')
						span.fal.fa-search
					.dropdown-menu.dropdown-menu-right.pc-h-dropdown.drp-search
						form.px-3
							.form-group.mb-0.d-flex.align-items-center
								span.fal.fa-search
								input.form-control.border-0.shadow-none(type='search' placeholder='Search here. . .')
				li.dropdown.pc-h-item
					a.pc-head-link.dropdown-toggle.arrow-none.mr-0(data-toggle='dropdown' href='#' role='button' aria-haspopup='false' aria-expanded='false')
						img.user-avtar(src='/public/images/user/avatar-2.jpg' alt='user-image')
						-if(user)
							span
								span.user-name #{user.username}
								span.user-desc #{user.role}
					.dropdown-menu.dropdown-menu-right.pc-h-dropdown
						.dropdown-header
							h6.text-overflow.m-0 Welcome !
						a.dropdown-item(href='/admin/account-setting')
							span.fal.fa-user
							span My Account
						a.dropdown-item(href='/admin/auth/signout')
							span.fal.fa-sign-out
							span Logout
// [ Header ] end
