extends ../_layouts/layout

block var
	- bodyClass = "authenticate authenticate-signin"

block header

block sidebar

block custom-theme
block breadcrumb 
	.auth-wrapper
		.auth-content
			.card
				.row.align-items-center
					.col-md-12
						form.card-body(action="/admin/auth/signin" method="POST")
							.form-group.text-center.mb-4
								img.img-fluid(src='/public/images/logo-dark.svg' alt='')
							.form-group.text-center.mb-3
								h4.f-w-400= page.title
							.form-group.mb-3
								.input-group
									.input-group-prepend
										.input-group-text
											span.fal.fa-envelope
									input.form-control(type='text' placeholder='Username' name="username" required)
							.form-group.mb-4
								.input-group
									.input-group-prepend
										.input-group-text
											span.fal.fa-lock
									input.form-control(type='password' placeholder='Password' name="password" required)
							.form-group.text-left.mt-2
								.custom-control.custom-checkbox
									input#customCheckdefh2.custom-control-input.input-primary(type='checkbox')
									label.custom-control-label(for='customCheckdefh2') Save credentials
							button.js-form-submit.btn.btn-block.btn-primary.mb-4 Signin
