<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1= message
        each user in users
            .user
                h4= user.username
                p= user.password
                p= user.email
                hr