extends _layouts/layout

block var
	- bodyClass = "authenticate authenticate-signin"

block main
	.auth-wrapper
		.auth-content
			.card
				.row.align-items-center.text-center
					.col-md-12
						.card-body.js-form(action="/authenticate/signup")
							img.img-fluid.mb-4(src='/public/images/logo-dark.svg' alt='')
							h4.mb-3.f-w-400= page_title
							.input-group.mb-3
								.input-group-prepend
									span.input-group-text
										svg.feather.feather-user(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
											path(d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2')
											circle(cx='12' cy='7' r='4')
								input.form-control(type='text' placeholder='Username' name="username")
							.input-group.mb-3
								.input-group-prepend
									span.input-group-text
										svg.feather.feather-mail(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
											path(d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z')
											polyline(points='22,6 12,13 2,6')
								input.form-control(type='email' placeholder='Email address' name="email")
							.input-group.mb-4
								.input-group-prepend
									span.input-group-text
										svg.feather.feather-lock(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
											rect(x='3' y='11' width='18' height='11' rx='2' ry='2')
											path(d='M7 11V7a5 5 0 0 1 10 0v4')
								input.form-control(type='password' placeholder='Password' name="password")
							.form-group.text-left.mt-2
								.custom-control.custom-checkbox
									input#customCheckdefh2.custom-control-input.input-primary(type='checkbox')
									label.custom-control-label(for='customCheckdefh2')
										| Send me the 
										a(href='#!')  Newsletter
										|  weekly.
							button.js-form-submit.btn.btn-primary.btn-block.mb-4 Sign up
							p.mb-2
								| Already have an account? 
								a.f-w-400(href='/authenticate/signin') Signin

