link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap' rel='stylesheet')

//- link(rel="stylesheet", href="/public/css/core.min.css")
link(rel="stylesheet", href="/public/css/main.min.css")