include var
block var
block mixin
	include ../_mixins/aside-bar
	include ../_mixins/breadcrumb
	include ../_mixins/pagination

<!DOCTYPE html>
html(lang="en")
	head
		block meta
			include meta
		block css
			include css
		-if(page.title)
			title= page.title
		-else
			title Untitled
	body(class=bodyClass)
		block header
			include ../_components/header
		main
			block sidebar
				+SideBar(page.sidebar)
			block breadcrumb
				section.pc-container
					.pcoded-content
						+Breadcrumb()
						// Main Wrapper
						block main
		// Change style of admin theme
		block custom-theme
			include ../_components/custom-theme
		block js
			include js