block var

<!DOCTYPE html>
html(lang="en")
	head
		block meta
			include meta
		block css
			include css
		title= page.title
	body(class=bodyClass)
		block header
		main
			block sidebar
			block breadcrumb
			block main
		block footer
			include footer
		block js
			include js